{% extends 'base.html' %}
{% load static %}
{% block title %}{{profile.getFullName}}{% endblock title %}

{% block content %}
	<!-- ========================= SECTION CONTENT ========================= -->
<<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card ">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://cdn3.iconfinder.com/data/icons/gradient-circle/36/1014-512.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-2">
                      <h4>{{profile.getFullName}}</h4>
                      <p class="text-muted font-size-sm">{{profile.email}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3 pb-4">
                <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">User Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{profile.user}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{profile.getFullName}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{profile.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{profile.phone}}
                    </div>
                  </div>
                  {% comment %} <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{profile.address}}
                    </div>
                  </div> {% endcomment %}
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " href="{% url 'profile_setting' %}">Edit</a>
                      {% comment %} {% if user.is_staff %}
                        <a class="btn btn-info " href="{% url 'add-product' %}">Add Product</a> 
                      {% endif %} {% endcomment %}
                      
                    </div>
                  </div>
                </div>
              </div>
              
              



            </div>
          </div>

        </div>
    </div>
    


</section>

 <main class="col ">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">History payments:</strong>
			<span></span>
      <a href="{% url 'history_detail'  %}" class="btn btn-primary">Details</a> 
		</header>
		
		</article> <!-- order-group.// --> 
	</main> 

{% endblock content %}
